"*":
  "advanced-open-file":
    helmDirSwitch: true
  "autocomplete-plus": {}
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "autocomplete-html"
      "minimap-highlight-selected"
      "minimap"
      "linter-rubocop"
    ]
    packagesWithKeymapsDisabled: [
      "emmet"
    ]
    projectHome: "/home/william/Dropbox/"
    themes: [
      "atom-material-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontSize: 11
    invisibles: {}
    softWrapAtPreferredLineLength: true
  emmet: {}
  "exception-reporting":
    userId: "d9562b65-7f31-18fe-5422-797c326d9a42"
  "file-icons":
    forceShow: true
  "git-diff":
    showIconsInEditorGutter: true
  hashrocket:
    rubyExecutablePath: "/home/william/.linuxbrew/bin/ruby"
  "keybinding-cheatsheet": {}
  linter:
    errorPanelHeight: 117
  "linter-haml": {}
  "linter-rubocop":
    command: "/home/william/.rvm/gems/ruby-2.2.3/wrappers/rubocop"
  "linter-ruby": {}
  "markdown-pdf": {}
  "markdown-preview":
    useGitHubStyle: true
  "markdown-themeable-pdf": {}
  "merge-conflicts": {}
  minimap:
    plugins:
      "highlight-selected": true
  pigments: {}
  rspec: {}
  "ruby-test": {}
  "travis-ci-status": {}
  "tree-view": {}
  welcome:
    showOnStartup: false
